<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CandyJP - About Us</title>

    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>
<!--header-->
  <body>
    <header class="grid-fullwidth top-header">
      <div class="logo-grid">
      <img src="img/placeholder.jpg">
      </div>
      <div class="title-grid">
      <h1 class="h1-heading">CandyJP</h1>
      </div>
      <div class="search-grid">
        <input class="text-input" type="text" name="location" id="location" placeholder="Search here">
      </div>
    </header>
    <nav class="nav-main">
      <a href="index.html" class="nav-item">Home</a>
      <a href="aboutus.html" class="nav-item">About Us</a>
      <a href="candies.html" class="nav-item">Candies</a>
      <a href="shoppingcart.html" class="nav-item">Shopping Cart</a>
    </nav>

    <div class="grid-group">
      <div class="grid-thirty">
        <img src="img/placeholder.jpg" alt="LOGO of CandyJP">
      </div>
      <div class="grid-sixty div-text">
        <h2>About Us</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et quam et velit fringilla vehicula ac vitae dolor. Proin a tincidunt nisi. Integer in venenatis lorem, non sollicitudin elit. Curabitur sodales mollis felis, sed imperdiet purus gravida at. Mauris lacinia vulputate tellus, quis auctor diam. Maecenas magna justo, euismod sit amet ante eu, semper imperdiet tellus. Fusce sit amet lorem dui. Praesent mi urna, faucibus ac arcu vitae, elementum ornare ligula.
        </p>
      </div>

      <div class="grid-fullwidth">
        <form class="form-container">
          <h3>Contact Us</h3>
          <label for="name">Name:</label>
          <input class="text-input" type="text" name="name" value="Name"><br>
          <label for="email">Email:</label>
          <input class="text-input" type="text" name="email" value="Email"><br>
          <label for="message">Message:</label>
          <textarea rows="4" cols="44"></textarea>
          <a class="button-submit">Submit</a>
        </form>
      </div>
    </div>


    <!--footer-->
    <footer class="grid-group footer">
      <div class="grid-thirty">
        <p>Address</p>
        <p> 0000 000 A Street City</p>
        <p> Province, Country </p>
      </div>
      <div class="grid-thirty">
        <p>Email</p>
        <p>CandyJP@gmail.com</p>
      </div>
      <div class="grid-thirty">
        <p>Phone Number</p>
        <p>(000)-000-0000</p>
      </div>
      <div class="grid-fullwidth text-center">
        <p>Copyright</p>
      </div>
    </footer>


  </body>


</html>
