<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CandyJP - About Us</title>

    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>
<!--header-->
  <body>
    <nav class="nav-main">
      <a href="index.html" class="nav-item">Home</a>
      <a href="aboutus.html" class="nav-item">About Us</a>
      <a href="candies.html" class="nav-item">Candies</a>
      <a href="shoppingcart.html" class="nav-item">Shopping Cart</a>
    </nav>

    <div class="grid-group">
      <div class="grid-thirty">
        <img src="img/placeholder.jpg" alt="LOGO of CandyJP">
      </div>
      <div class="grid-sixty div-text">
        <h2>About Us</h2>
        <p>CandyJP is a company that sells Japanese candies online and ships the product all over the world. The types of products range from modern DIY gummy kits to traditional wagashi eaten in Japanese tea ceremonies. Potential customers could be people who enjoy food or have a sweet tooth. By purchasing from CandyJP, candy lovers get an opportunity to try something that is different than what they normally would get in their countries.</p>
      </div>

      <div class="grid-fullwidth">
        <form class="form-container">
          <h3>Contact Us</h3>
          <label for="name">Name:</label>
          <input class="text-input" type="text" name="name" value="Name"><br>
          <label for="email">Email:</label>
          <input class="text-input" type="text" name="email" value="Email"><br>
          <label for="message">Message:</label>
          <textarea rows="4" cols="44"></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>


    <!--footer-->
    <footer class="grid-group footer">
      <div class="grid-thirty">
        <p>Address</p>
        <p> 0000 000 A Street City</p>
        <p> Province, Country </p>
      </div>
      <div class="grid-thirty">
        <p>Email</p>
        <p>CandyJP@gmail.com</p>
      </div>
      <div class="grid-thirty">
        <p>Phone Number</p>
        <p>(000)-000-0000</p>
      </div>
      <div class="grid-fullwidth text-center">
        <p>Copyright</p>
      </div>
    </footer>


  </body>


</html>
