<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CandyJP - Candies</title>

    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>
  <body>
    <div class="grid-headerborder">
      <header class="grid-fullwidth top-header">
        <div class="logo-grid">
        <img src="img/jp-logo.png">
        </div>
        <div class="title-grid">
        <h1 class="h1-heading">CandyJP</h1>
        </div>
        <div class="search-grid">
          <input class="text-input" type="text" name="search" id="search" placeholder="Search here">
        </div>
      </header>

      <nav class="nav-main">
        <a href="index.html" class="nav-item">Home</a>
        <a href="aboutus.html" class="nav-item">About Us</a>
        <a href="candies.html" class="nav-item">Candies</a>
        <a href="shoppingcart.html" class="nav-item">Shopping Cart</a>
      </nav>
    </div>
    <div class="grid-border">
      <div class="grid-group">
        <div class="grid-twenty-product">
          <a href="productViewHalloween.html">
            <img src="img/halloween-set.jpg" alt="Halloween special candy set">
          </a>
          <a href="productViewHalloween.html" class="link-intext"><h3>Halloween Pumpkin Snack O' Lantern Set</h3></a>
          <div class="">
            <p><strong>Item Number:</strong> 13456</p>
            <p><strong>Weight:</strong> 150g</p>
            <p><strong>Price:</strong> $10.98</p>
        </div>
        </div>

        <div class="grid-twenty-product">
          <a href="productView.html">
            <img src="img/lotte-plum.jpg" alt="red package plum candy">
          </a>
          <a href="productView.html" class="link-intext"><h3>Lotte Plum Boiled Sweet Candy</h3></a>
          <div class="">
            <p><strong>Item Number:</strong> 13457</p>
            <p><strong>Weight:</strong> 68g</p>
            <p><strong>Price:</strong> $4.45</p>
          </div>
        </div>

        <div class="grid-twenty-product">
          <a href="productViewHalloween.html">
            <img src="img/kasugai-grape.jpg" alt="dark pruple package grape flavor candy">
          </a>
          <a href="productViewHalloween.html" class="link-intext"><h3>Kasugai 100 Grape Gummy Candy</h3></a>
          <p><strong>Item Number:</strong> 13458</p>
          <p><strong>Weight:</strong> 107g</p>
          <p><strong>Price:</strong> $4.75</p>
        </div>

        <div class="grid-twenty-product">
          <a href="productView.html">
            <img src="img/matcha-caramel.jpg" alt="green package matcha caramel candy">
          </a>
          <a href="productView.html" class="link-intext"><h3>Morinaga Matcha Caramel Chewy Candy</h3></a>
          <p><strong>Item Number:</strong> 13459</p>
          <p><strong>Weight:</strong> 82g</p>
          <p><strong>Price:</strong> $3.30</p>
        </div>

        <div class="grid-twenty-product">
          <a href="productViewHalloween.html">
            <img src="img/orion-candy.jpg" alt="orion candy soda flavor">
          </a>
          <a href="productViewHalloween.html" class="link-intext"><h3>Orion Sour Mini Tablet Candy</h3></a>
          <p><strong>Item Number:</strong> 13460</p>
          <p><strong>Weight:</strong> 9g</p>
          <p><strong>Price:</strong> $0.75</p>
        </div>

        <div class="grid-twenty-product">
          <a href="productView.html">
            <img src="img/paw-gummy.jpg" alt="chewing gum with a cat on the package">
          </a>
          <a href="productView.html" class="link-intext"><h3>Senjyakuame Paw Shaped Grape-Orange Gummy Candy</h3></a>
          <p><strong>Item Number:</strong> 13461</p>
          <p><strong>Weight:</strong> 80g</p>
          <p><strong>Price:</strong> $3.85</p>
        </div>

        <div class="grid-twenty-product">
          <a href="productViewHalloween.html">
            <img src="img/sakuma-ichigo.jpg" alt="strawberry milk candy">
          </a>
          <a href="productViewHalloween.html" class="link-intext"><h3>Sakuma Strawberry [Ichigo] Milk Candy</h3></a>
          <p><strong>Item Number:</strong> 14562</p>
          <p><strong>Weight:</strong> 10g</p>
          <p><strong>Price:</strong>  $2.25</p>
        </div>

        <div class="grid-twenty-product">
          <a href="productView.html">
            <img src="img/meiji-lemon.jpg" alt="carton lemon candy">
          </a>
          <a href="productView.html" class="link-intext"><h3>Meiji Hi Lemon Tablet Candy</h3></a>
          <p><strong>Item Number:</strong> 13463</p>
          <p><strong>Weight:</strong> 27g</p>
          <p><strong>Price:</strong> $3.45</p>
        </div>
      </div>
    </div>

    <footer class="footer-grid footer">
      <div class="grid-thirty">
        <p>Address</p>
        <p> 1243 545 A Street Vancouver</p>
        <p> British Columbia, Canada </p>
      </div>
      <div class="grid-thirty">
        <p>Email</p>
        <p>CandyJP@gmail.com</p>
      </div>
      <div class="grid-thirty">
        <p>Phone Number</p>
        <p>(604) 334-2123</p>
      </div>
      <div class="grid-fullwidth text-center">
        <p>Student project for IAT 339 - Web Design and Development by Jodie Chang and Daphne Hsu</p>
      </div>
    </footer>


  </body>


</html>
