<html lang="en"><head>

    <meta charset="utf-8">
    <title>P01 - Citations</title>

    <link href="css/template.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">

  </head>

  <body>

    <h1 class="heading-1">P02 - Citations</h1>
    <p>Citations for resources used and inspirations</p>
    <nav>

      <p>
        Go to:
        <a class="link-intext" href="index.html">CandyJP</a>,
        <a class="link-intext" href="updatedStyleGuide.html">Style Guide</a>
      </p>
      <p>
        Go to:
        <a class="link-intext" href="#fonts">Fonts</a>,
        <a class="link-intext" href="#images">Images</a>,
        <a class="link-intext" href="#other">Resources</a>
      </p>

    </nav>


    <section id="fonts" class="grid-border">

      <h2 class="heading-2">Fonts</h2>

      <ul class="citations">

        <li>
          <cite>Zakayuzu, Kagura</cite>. Creator. 2016. <strong>Yuzu Pop A</strong> [Font]. Retrieved from <a href="http://black-yuzunyan.lolipop.jp/fonts-yuzu-pop" target="_blank" class="link-intext">http://black-yuzunyan.lolipop.jp/fonts-yuzu-pop</a>
        </li>

      </ul>

    </section>



    <section id="images" class="grid-border">

      <h2 class="heading-2">Images</h2>


    </section>



    <section id="other" class="grid-border">

      <h2 class="heading-2">Resources</h2>

    </section>

</body>
</html>
