<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P02 - Home Page</title>

    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>

  <body>
    <nav class="nav-main">
      <a href="#" class="nav-item">Home</a>
      <a href="#" class="nav-item">About Us</a>
      <a href="#" class="nav-item">Candies</a>
      <a href="#" class="nav-item">Shopping Cart</a>
    </nav>

    <br><br>

    <div class="grid-fullwidth footer">
      <div class="grid-thirty">
        <p>Address</p>
        <p> 0000 000 A Street City</p>
        <p> Province, Country </p>
      </div>
      <div class="grid-thirty">
        <p>Email</p>
        <p>@gmail.com</p>
      </div>
      <div class="grid-thirty">
        <p>Phone Number</p>
      </div>
      <div class="grid-fullwidth">
        <p>Copyright</p>
      </div>
    </div>


  </body>


</html>
