<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CandyJP - Home Page</title>

    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>

  <body>
    <header class="grid-fullwidth top-header">
      <div class="logo-grid">
      <img src="img/placeholder.jpg">
      </div>
      <div class="title-grid">
      <h1 class="h1-heading">CandyJP</h1>
      </div>
      <div class="search-grid">
        <input class="text-input" type="text" name="location" id="location" placeholder="Search here">
      </div>
    </header>
    <nav class="nav-main">
      <a href="index.html" class="nav-item">Home</a>
      <a href="aboutus.html" class="nav-item">About Us</a>
      <a href="candies.html" class="nav-item">Candies</a>
      <a href="shoppingcart.html" class="nav-item">Shopping Cart</a>
    </nav>
    <div class="grid-thirty">
    </div>
    <footer class="grid-group footer">
      <div class="grid-thirty">
        <p>Address</p>
        <p> 0000 000 A Street City</p>
        <p> Province, Country </p>
      </div>
      <div class="grid-thirty">
        <p>Email</p>
        <p>CandyJP@gmail.com</p>
      </div>
      <div class="grid-thirty">
        <p>Phone Number</p>
        <p>(000)-000-0000</p>
      </div>
      <div class="grid-fullwidth text-center">
        <p>Copyright</p>
      </div>
    </footer>


  </body>


</html>
