<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>P02 - Home Page</title>

    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>

  <body>
    <nav class="nav-main">
      <a href="#" class="nav-item">Home</a>
      <a href="#" class="nav-item">About Us</a>
      <a href="#" class="nav-item">Candies</a>
      <a href="#" class="nav-item">Shopping Cart</a>
    </nav>

    <br><br>

    <div class="grid-fullwidth footer">
      <label class="grid-thirty">Address</label>
      <label class="grid-thirty">Email</label>
      <label class="grid-thirty">Phone</label>
      <label class="grid-fullwidth">Copyright</label>
    </div>


  </body>


</html>
