<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CandyJP - Payment Form</title>

    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>
  <body>
    <div class="grid-headerborder">
      <header class="grid-fullwidth top-header">
        <div class="logo-grid">
        <img src="img/jp-logo.png">
        </div>
        <div class="title-grid">
        <h1 class="h1-heading">CandyJP</h1>
        </div>
        <div class="search-grid">
          <input class="text-input" type="text" name="location" id="location" placeholder="Search here">
        </div>
      </header>

      <nav class="nav-main">
        <a href="index.html" class="nav-item">Home</a>
        <a href="aboutus.html" class="nav-item">About Us</a>
        <a href="candies.html" class="nav-item">Candies</a>
        <a href="shoppingcart.html" class="nav-item">Shopping Cart</a>
      </nav>
    </div>

    <section class="middle-section">
    <form class="pay-form">
      <h2 class="heading-2">Contact Information</h2>
      <label class="text-label" for ="email">Email:</label>
      <input class="text-input" type="text" name="email" id="email" placeholder="Email">
      <input class="text-input" type="text" name="email-confirm" id="email-confirm" placeholder="Confirm Email">
    </form>
    <form class="paymethod">
      <h2 class="heading-2">Payment Method</h2>
      <a href="http://www.paypal.com">
        <img src="https://www.underconsideration.com/brandnew/archives/paypal_2014_logo_detail.png" alt="Image of the product" width="100" height="100">
      </a>
    </form>
    <form class="pay-form">
      <h2 class="heading-2">Shipping Information</h2>

      <label class="text-label" for ="first-name">Full Name:</label>
      <input class="text-input" type="text" name="first-name" id="first-name" placeholder="First Name">
      <input class="text-input" type="text" name="last-name" id="last-name" placeholder="Last Name">

      <label class="text-label" for ="address">Address:</label>
      <input class="text-input" type="text" name="address" id="address" placeholder="Address">
      <label class="text-label" for ="city">City:</label>
      <input class="text-input" type="text" name="city" id="city" placeholder="City">

      <label class="text-label" for ="country">Country:</label>
      <input class="text-input" type="text" name="country" id="country" placeholder="Country">
      <label class="text-label" for ="province">Province:</label>
      <input class="text-input" type="text" name="province" id="province" placeholder="Province">
      <label class="text-label" for ="code">Postal Code:</label>
      <input class="text-input" type="text" name="code" id="code" placeholder="Postal Code">

      <div class="pay-button-grid">
      <a href="shoppingcart.html" class="button button-submit button-reset">Back</a>
      <a href="success.html" target="_blank" class="button button-submit">Confirm</a>
      </div>
    </form>


    </section>
    <footer class="footer-grid footer">
      <div class="grid-thirty">
        <p>Address</p>
        <p> 1243 545 A Street Vancouver</p>
        <p> British Columbia, Canada </p>
      </div>
      <div class="grid-thirty">
        <p>Email</p>
        <p>CandyJP@gmail.com</p>
      </div>
      <div class="grid-thirty">
        <p>Phone Number</p>
        <p>(604) 334-2123</p>
      </div>
      <div class="grid-fullwidth text-center">
        <p>Student project for IAT 339 - Web Design and Development by Jodie Chang and Daphne Hsu</p>
      </div>
    </footer>
  </body>

</html>
