<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CandyJP - Home Page</title>

    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>

  <body>
    <div class="grid-headerborder">
      <header class="grid-fullwidth top-header">
        <div class="logo-grid">
        <img src="img/jp-logo.png">
        </div>
        <div class="title-grid">
        <h1 class="h1-heading">CandyJP</h1>
        </div>
        <div class="search-grid">
          <input class="text-input" type="text" name="search" id="search" placeholder="Search here">
        </div>
      </header>

      <nav class="nav-main">
        <a href="index.html" class="nav-item">Home</a>
        <a href="aboutus.html" class="nav-item">About Us</a>
        <a href="candies.html" class="nav-item">Candies</a>
        <a href="shoppingcart.html" class="nav-item">Shopping Cart</a>
      </nav>
    </div>

    <div class="grid-border">
      <div class="grid-group">
        <div class="grid-thirty">
          <img src="img/lotte-plum.jpg" alt="red package plum candy">
        </div>
        <div class="grid-forty div-text para">
          <h3>Lotte Plum Boiled Sweets</h3>
          <p>A medium-sized bag of Japanese plum flavoured hard boiled candy. Each spherical sweet has three layers: the outermost layer is plum powder, then there is the sweet boiled candy part and in the middle is a slightly salty soft plum paste. The sweetness of the candy complements perfectly the saltiness and sourness of the plum. Every packet contains two giant versions of the sweet.</p>
          <p><strong>Item Number:</strong> 13457</p>
          <p><strong>Weight:</strong> 68g</p>
          <p><strong>Price:</strong> $4.45</p>
        </div>

        <div class="grid-thirty">
          <form id="amount">
            <label for="amount">Amount:</label>
            <br>
            <input class="button-amount" type="text" name="amunt" value="1">
            <br>
            <a class="button button-submit" href="shoppingcart.html">add to cart</a>
          </form>
        </div>

      </div>
    </div>

    <footer class="footer-grid footer">
      <div class="grid-thirty">
        <p>Address</p>
        <p> 1243 545 A Street Vancouver</p>
        <p> British Columbia, Canada </p>
      </div>
      <div class="grid-thirty">
        <p>Email</p>
        <p>CandyJP@gmail.com</p>
      </div>
      <div class="grid-thirty">
        <p>Phone Number</p>
        <p>(604) 334-2123</p>
      </div>
      <div class="grid-fullwidth text-center">
        <p>Student project for IAT 339 - Web Design and Development by Jodie Chang and Daphne Hsu</p>
      </div>
    </footer>


  </body>


</html>
