<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CandyJP - Home Page</title>

    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>

  <body>
    <div class="grid-headerborder">
      <header class="grid-fullwidth top-header">
        <div class="logo-grid">
        <img src="img/placeholder.jpg">
        </div>
        <div class="title-grid">
        <h1 class="h1-heading">CandyJP</h1>
        </div>
        <div class="search-grid">
          <input class="text-input" type="text" name="location" id="location" placeholder="Search here">
        </div>
      </header>

      <nav class="nav-main">
        <a href="index.html" class="nav-item">Home</a>
        <a href="aboutus.html" class="nav-item">About Us</a>
        <a href="candies.html" class="nav-item">Candies</a>
        <a href="shoppingcart.html" class="nav-item">Shopping Cart</a>
      </nav>
    </div>

    <div class="grid-border">
      <div class="grid-group">
        <div class="grid-thirty">
          <img src="img/lotte-plum.jpg" alt="red package plum candy">
        </div>
        <div class="grid-forty div-text">
          <h3>Lotte Plum Boiled Sweets</h3>
          <p>A medium-sized bag of Japanese plum flavoured hard boiled candy.　Each spherical sweet has three layers: the outermost layer is plum powder, then there is the sweet boiled candy part and in the middle is a slightly salty soft plum paste. The sweetness of the candy complements perfectly the saltiness and sourness of the plum. Every packet contains two giant versions of the sweet.</p>
          <p>Item Number:13458</p>
          <p>Weight: 68g</p>
          <p>Dimension:</p>
          <p>Price: $4.45</p>
        </div>
        
        <div class="grid-thirty">
          <form>
            <a class="button-submit">add to cart</a>
          </form>
        </div>

      </div>
    </div>

    <footer class="grid-group footer">
      <div class="grid-thirty">
        <p>Address</p>
        <p> 0000 000 A Street City</p>
        <p> Province, Country </p>
      </div>
      <div class="grid-thirty">
        <p>Email</p>
        <p>CandyJP@gmail.com</p>
      </div>
      <div class="grid-thirty">
        <p>Phone Number</p>
        <p>(000)-000-0000</p>
      </div>
      <div class="grid-fullwidth text-center">
        <p>Copyright</p>
      </div>
    </footer>


  </body>


</html>
