<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CandyJP - Style Template</title>

    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>

  <body>
      <h1>P02: Style Template</h1>
      <p>Header</p>
      <header class="grid-fullwidth top-header">
        <div class="logo-grid">
        <img src="img/placeholder.jpg">
        </div>
        <div class="title-grid">
        <h1 class="h1-heading">CandyJP</h1>
        </div>
        <div class="search-grid">
          <input class="text-input" type="text" name="location" id="location" placeholder="Search here">
        </div>
      </header>

      <p>Navigation Bar</p>
      <nav class="nav-main">
        <a href="index.html" class="nav-item">Home</a>
        <a href="aboutus.html" class="nav-item">About Us</a>
        <a href="candies.html" class="nav-item">Candies</a>
        <a href="shoppingcart.html" class="nav-item">Shopping Cart</a>
      </nav>

      <p>Footer</p>
      <footer class="grid-group footer">
        <div class="grid-thirty">
          <p>Address</p>
          <p> 0000 000 A Street City</p>
          <p> Province, Country </p>
        </div>
        <div class="grid-thirty">
          <p>Email</p>
          <p>CandyJP@gmail.com</p>
        </div>
        <div class="grid-thirty">
          <p>Phone Number</p>
          <p>(000)-000-0000</p>
        </div>
        <div class="grid-fullwidth text-center">
          <p>Copyright</p>
        </div>
      </footer>

      <p>Product Listing</p>
      <div class="grid-group">
        <div class="grid-twenty-product">
        <img src="img/placeholder.jpg" alt="Image of the product">
        <h3>Product Name</h3>
          <p>Item Number:</p>
          <p>Weight:</p>
          <p>Dimension:</p>
          <p>Price:</p>
        </div>

        <div class="grid-twenty-product">
        <img src="img/placeholder.jpg" alt="Image of the product">
        <h3>Product Name</h3>
          <p>Item Number:</p>
          <p>Weight:</p>
          <p>Dimension:</p>
          <p>Price:</p>
        </div>

        <div class="grid-twenty-product">
        <img src="img/placeholder.jpg" alt="Image of the product">
        <h3>Product Name</h3>
          <p>Item Number:</p>
          <p>Weight:</p>
          <p>Dimension:</p>
          <p>Price:</p>
        </div>

        <div class="grid-twenty-product">
        <img src="img/placeholder.jpg" alt="Image of the product">
        <h3>Product Name</h3>
          <p>Item Number:</p>
          <p>Weight:</p>
          <p>Dimension:</p>
          <p>Price:</p>
        </div>
      </div>


      <p>shopping cart</p>
      <div class="grid-border">
        <div class="grid-group">
          <div class="grid-twenty">
            <img src="img/placeholder.jpg" alt="LOGO of CandyJP">
          </div>
          <div class="grid-sixty div-text">
            <h2>Product Name</h2>
            <p>Item Number: </p>
            <p>Amount: </p>
            <p>Price: </p>
          </div>
          <div class="grid-twenty">
            <p> Price:</p>
            <p> Tax: </p>
            <p>Total: </p>
            <a href="payment.html" class="button button-submit">Check Out This</a>
            <a href="" class="button button-reset"> Remove Item</a>
          </div>
        </div>
        <div class="grid-group">
          <div class="grid-eighty">
            <h2>Total </h2>
            <p>Product Name: </p>
            <p>Amount: </p>
            <p>Product Name: </p>
            <p>Amount: </p>
          </div>
          <div class="grid-twenty">
            <p>Price: </p>
            <p>Tax: </p>
            <p>Total: </p>
            <a href="payment.html" class="button button-submit">Check Out All</a>
          </div>
        </div>
      </div>

  </body>

  </head>
</html>
