<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>P02 - Style Guide</title>

    <link href="css/template.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">

  </head>

  <body>

    <h1 class="heading-1">P02: Style Guide</h1>
    <p> CandyJP is a company that sells Japanese candies online and ships the product all over the world. The types of products range from modern DIY gummy kits to traditional wagashi eaten in Japanese tea ceremonies. Potential customers could be people who enjoy food or have a sweet tooth. By purchasing from CandyJP, candy lovers get an opportunity to try something that is different than what they normally would get in their countries.</p>
    <nav>

      <p>
        Go to:
        <a class="link-intext" href="index.html">CandyJP</a>,
        <a class="link-intext" href="citations.html">Citations</a>
      </p>
      <p>
        Go to:
        <a class="link-intext" href="#interactive_elements">Interactive Elements</a>,
        <a class="link-intext" href="#text_elements">Text Elements</a>,
        <a class="link-intext" href="#combined_elements">Combined Elements</a>
      </p>

    </nav>

    <!-- INTERACTIVE ELEMENTS SECTION -->
    <section id="interactive_elements">

      <section class="grid-border">
        <h2 class="heading-2">In-text link</h2>
        <div class="style-body">
          <h3>CSS selector:</h3>
          <p>.link-intext</p>
          <h3>Sample code</h3>

          <code class="grid">&lt;a href="#" class="link-intext"&gt;In Text Link&lt;/a&gt;</code>

          <h3>Rendered element:</h3>
          <p>A sentence with a <a class="link-intext" href="#">In-text link</a>.</p>
        </div>
      </section>

      <!-- Default Button styling section -->
      <section class="grid-border">

        <h2 class="heading-2">Navigation Button</h2>
        <div class="style-body">
          <h3>CSS selector:</h3>
          <p>.button</p>
          <p>.button-nav</p>

          <h3>Sample code:</h3>
          <code class="grid">&lt;a href="#" class="button button-nav"&gt;Navigation Button&lt;/a&gt;</code>

          <h3>Rendered element:</h3>
          <a class="button button-nav" href="#">Navigation Button</a>
        </div>
      </section>

      <section class="grid-border">
        <h2 class="heading-2">Submit/Reset Buttons</h2>
        <div class="style-body">
          <h3>CSS selector:</h3>
          <p>.button .button-reset</p>
          <p>.button .button-submit</p>

          <h3>Sample code:</h3>
          <code class="grid">&lt;a href="#" class="button button-submit button-reset"&gt;Reset Button&lt;/a&gt;<br>
          &lt;a href="#" class="button button-submit"&gt;Submit Button&lt;/a&gt;</code>

          <h3>Rendered element:</h3>
          <a class="button button-reset" href="#">Reset Button</a>
          <a class="button button-submit" href="#">Submit Button</a>
        </div>
      </section>

      <section class="grid-border">
        <h2 class="heading-2">Text Input Field and Label</h2>
        <div class="style-body">
          <h3>CSS selector:</h3>
          <p>.text-input</p>
          <p>.text-label</p>

          <h3>Sample code:</h3>

          <code class="grid">
            &lt;label class="text-label" for ="location">Location:&lt;/label&gt; </br>
            &lt;input class="text-input" type="text" name="location" id="location" placeholder="Location"&gt;
          </code>

          <h3>Rendered element:</h3>
          <form>
            <label class="text-label" for ="location">Location:</label>
            <input class="text-input" type="text" name="location" id="location" placeholder="Location">
          </form>
        </div>
      </section>

    </section>

    <section id="text_elements">

      <section class="grid-border">
        <h2 class="heading-2">Headings</h2>
        <div class="style-body">
          <h3>CSS selector:</h3>
          <p>.heading-1</p>
          <p>.heading-2</p>
          <p>.heading-3</p>

          <h3>Sample code:</h3>
          <code class="grid">&lt;h1 class="heading-1"&gt;Heading 1&lt;/h1&gt;<br>
            &lt;h2 class="heading-2"&gt;Heading 2&lt;/h2&gt;<br>
            &lt;h3 class="heading-3"&gt;Heading 3&lt;/h3&gt;</code>

          <h3>Rendered element:</h3>
          <h1 class="heading-1">Heading 1</h1>
          <h2 class="heading-2">Heading 2</h2>
          <h3 class="heading-3">Heading 3</h3>
        </div>
      </section>

      <section class="grid-border">
        <h2 class="heading-2">Paragraphs</h2>
        <div class="style-body">
          <h3>CSS selector:</h3>
          <p>.para</p>

          <h3>Sample code:</h3>
          <code class="grid">&lt;p class="para"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eros tortor, posuere at consectetur eget, laoreet mollis ipsum. Sed lacinia elit eu laoreet luctus. Aliquam erat volutpat. Praesent aliquam ex turpis, nec aliquam dui venenatis in. Donec et neque ac erat placerat ullamcorper. Curabitur ac eleifend enim. Nunc lobortis dictum augue, sed tristique risus iaculis vestibulum. Fusce ac fringilla dui. Proin mi magna, aliquam ac tincidunt vel, pharetra varius ante. Praesent varius leo mi, quis porta lacus pulvinar in.&lt;/p&gt;</code>

          <h3>Rendered element:</h3>
          <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eros tortor, posuere at consectetur eget, laoreet mollis ipsum. Sed lacinia elit eu laoreet luctus. Aliquam erat volutpat. Praesent aliquam ex turpis, nec aliquam dui venenatis in. Donec et neque ac erat placerat ullamcorper. Curabitur ac eleifend enim. Nunc lobortis dictum augue, sed tristique risus iaculis vestibulum. Fusce ac fringilla dui. Proin mi magna, aliquam ac tincidunt vel, pharetra varius ante. Praesent varius leo mi, quis porta lacus pulvinar in.</p>
        </div>
      </section>

      <section class="grid-border">
        <h2 class="heading-2">Bulleted Lists</h2>
        <div class="style-body">
          <h3>CSS selector:</h3>
          <p>.list-bulleted</p>

          <h3>Sample code:</h3>
          <code class="grid">&lt;ul class="list-bullet"&gt;<br>
            &lt;li&gt;Item 1&lt;/li&gt;<br>
            &lt;li&gt;Item 2&lt;/li&gt;<br>
            &lt;li&gt;Item 3&lt;/li&gt;<br>
            &lt;/ul&gt;</code>

          <h3>Rendered element:</h3>
          <ul class="list-bullet">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
          </ul>
        </div>
      </section>

      <section class="grid-border">
        <h2 class="heading-2">Numbered Lists</h2>
        <div class="style-body">
          <h3>CSS selector:</h3>
          <p>.list-number</p>

          <h3>Sample code:</h3>
          <code class="grid">&lt;ol class="list-number"&gt;<br>
            &lt;li&gt;Item 1&lt;/li&gt;<br>
            &lt;li&gt;Item 2&lt;/li&gt;<br>
            &lt;li&gt;Item 3&lt;/li&gt;<br>
            &lt;/ol&gt;</code>

          <h3>Rendered element:</h3>
          <ol class="list-number">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
          </ol>
        </div>
      </section>

    </section>

    <!-- COMBINED ELEMENTS SECTION // -->
    <section id="combined_elements">

      <section class="grid-border">
        <h2 class="heading-2">Main Navigation</h2>
        <div class="style-body">
          <h3>CSS selector:</h3>
          <p>.nav-main</p>
          <p>.nav-item</p>

          <h3>Sample code:</h3>
          <code class="grid">&lt;nav class="nav-main"&gt;<br>
            &lt;a href="#" class="button-nav nav-item"&gt;About&lt;/a&gt;<br>
            &lt;a href="#" class="button-nav nav-item"&gt;Prodct&lt;/a&gt;<br>
            &lt;a href="#" class="button-nav nav-item"&gt;Service&lt;/a&gt;<br>
            &lt;a href="#" class="button-nav nav-item"&gt;Contact&lt;/a&gt;<br>
            &lt;/nav&gt;</code>

          <h3>Rendered element:</h3>
          <nav class="nav-main">
            <a href="#" class="nav-item">Home</a>
            <a href="#" class="nav-item">About Us</a>
            <a href="#" class="nav-item">Candies</a>
            <a href="#" class="nav-item">Shopping Cart</a>
          </nav>
        </div>
      </section>

      <section class="grid-border">
        <h2 class="heading-2">Product Listing</h2>
        <div class="style-body">

            <h3>CSS selector:</h3>
            <p>.product-img-box</p>
            <p>.content-box</p>
            <h3>Sample code:</h3>

            <h3>Rendered element:</h3>
            <div class="grid">
              <div class="div-text div-image">
                <img src="http://i.ebayimg.com/images/g/siIAAOSwa~BYcx0o/s-l1600.jpg" alt="Package of blueberry gummy">
              </div>
              <div class="div-container">
                <h3 class="heading-3">Kororo Blueberry</h3>
                <p> UHA Mikakuto Kororo is a Japanese blueberry flavored gummy.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia, nibh sollicitudin vulputate gravida, diam mauris finibus justo, ac lacinia ipsum ligula in ex. Maecenas mi sem, malesuada vel nulla non, sagittis pulvinar eros. Aliquam eros lectus, imperdiet quis tincidunt sit amet, porta sit amet justo. Suspendisse vehicula augue et imperdiet imperdiet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam porttitor lacinia congue. </p>
                <p> <strong>Weight:</strong>40g</p>
                <p> <strong>Dimension:</strong>13/13cm</p>
                <p> <strong>Price:</strong> $3.55</p>
              </div>
            </div>
          </div>
      </section>

      <section class="grid-border">
        <h2 class="heading-2">Grid Structure</h2>
        <div class="style-body">

          <h3>CSS selector:</h3>
          <p>.grid</p>
          <p>.grid-group</p>
          <p>.grid-half</p>
          <p>.grid-thirty</p>
          <p>.grid-seventy</p>
          <p>.grid-fullwidth</p>

          <h3>Sample code:</h3>
          <code class="grid">&lt;div class="grid"&gt;<br>
            &lt;div class="grid-fullwidth"&gt;heading&lt;/div&gt;<br>
            &lt;div class="grid-group"&gt;<br>
            &lt;div class="grid-thirty"&gt;1/3&lt;/div&gt;<br>
            &lt;div class="grid-seventy"&gt;2/3&lt;/div&gt;<br>
            &lt;/div&gt;<br>
            &lt;div class="grid-group"&gt;<br>
            &lt;div class="grid-half"&gt;1/2&lt;/div&gt;<br>
            &lt;div class="grid-half"&gt;1/2&lt;/div&gt;<br>
            &lt;/div&gt;<br>
            &lt;div class="grid-fullwidth"&gt;heading&lt;/div&gt;<br>
            &lt;/div&gt;
          </code>

          <h3>Rendered element:</h3>
          <div class="grid">
            <div class = "grid-fullwidth">heading</div>
            <div class="grid-group">
              <div class="grid-seventy">2/3</div>
              <div class="grid-thirty">1/3</div>
            </div>
            <div class="grid-group">
              <div class="grid-half">1/2</div>
              <div class="grid-half">1/2</div>
            </div>
            <div class="grid-group">
              <div class="grid-thirty">1/3</div>
              <div class="grid-thirty">1/3</div>
              <div class="grid-thirty">1/3</div>
            </div>
            <div class = "grid-fullwidth">footer</div>
          </div>
        </div>
      </section>

      <section class="grid-border">
        <h2 class="heading-2">Colour Swatches</h2>
        <div class="style-body">
          <h3>CSS selector:</h3>
          <p>.box-color</p>

          <h3>Sample code:</h3>
          <code class="grid">&lt;div class="box-color box-darkgreen"&gt;<br>
            &lt;p&gt;#9bc7a4
            &lt;/p&gt;<br>
            &lt;/div&gt;
            </code>

          <h3>Rendered element:</h3>
            <div class="box-color box-lightgrey">
              <p>#d1d1d1</p>
            </div>
            <div class="box-color box-darkgrey">
              <p>#474747</p>
            </div>
            <div class="box-color box-red">
              <p>#C42529</p>
            </div>
            <div class="box-color box-darkred">
              <p>#4C1415</p>
            </div>
          </div>
      </section>
    </section>

  </body>
</html>
