@font-face {
	font-family: 'Yuzu-Regular';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Yuzu-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Yuzu-Bold';
	font-weight: bold;
	font-style: normal;
  src: url('../fonts/Yuzu-Bold.ttf') format('truetype');
}
/*Jodie Chang (301219527)*/
